menu "Socket Configuration"

    config SERVER_IP_ADDR
        string "Server IP address"
        default "0.0.0.0"
        help
            The client will connect to this IPV4 address.

    config ROS_SOCKET_PORT
        int "Socket Port"
        range 0 65535
        default 2888
        help
            Port for tcp/udp socket communication

endmenu
